/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.searchIcon {
    position: absolute;
    right: 10px;
    top: 25px;
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}

.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
}

.fullWidthBanner img {
    width: 100%;
}
.fl-node-5c75183d2d713 .fl-slide-1 .fl-slide-content{
    margin-top: 0px;
}
.phone>a {
    font-weight: 400;
    color: #68bfd8;
}

.iscwp-gallery-slider .slick-dots li button {
    border: 1px solid #949494;
}

.iscwp-gallery-slider .slick-dots li.slick-active button {
    background: #949494;
}
.fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-content-wrap{
    width: 100%!important;
}
.fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-text{
    font-size: 25px;
}
.fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-content{
    padding-top: 180px;
}
.fl-slide-2 .fl-slide-content-wrap .fl-slide-text{
    background: rgba(0,0,0,0.40);
    color: #fff!important;
    padding: 10px;
}
.fl-slide-2 .fl-slide-content-wrap .fl-slide-text p{
    color: #fff!important;
}
.fl-node-5c75183d2d713 .fl-slide-3 .fl-slide-text *{
    color: #000!important;
}
.fl-node-5c75183d2d713 .fl-slide-3 .fl-slide-text .fl-button span{
    color: #fff!important;
}
.fl-node-5c75183d2d713 .fl-slide-4 .fl-slide-photo-wrap .fl-slide-photo{
    margin-bottom: 0px!important;
}
.fl-node-5c75183d2d713 .fl-slide-foreground{
        display: flex;
    flex-direction: column-reverse;
}
@media(max-width:1024px) {
    .fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-text{
    font-size: 15px;
}
    .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .headerMain .headerRightNav {
        margin-left: 30px;
    }

    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }
}
@media (max-width: 991px){
    .style-list .back-button {
        z-index: 15 !important;
    }
}
@media(max-width:768px) {
    .searchIcon {
        position: static;
    }

    button#responsive-menu-button {
        top: 0 !important;
    }

    .headerMain .fl-col-group {
        display: flex;
        align-items: center;
    }

    .headerMain .headerRightNav {
        margin: 0;
    }

    .headerMain .headerLogo {
        flex: 2;
    }

    .headerMain .phone.retailer {
        font-size: 26px;
        color: #42291d;
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Ultimate-Icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .headerMain .phone.retailer:before {

        content: "\ea3e";

    }
    .headerMain .phone.retailer span{
        font-size: 0;
    }

    .iPadFooter .fl-col-group {
        display: flex;
    }

    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }

    ul#menu-copyright-bar-menu {
        display: flex;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }

    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    }
    
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
        margin-top: 2px !important;
    }
    .gform_wrapper.gf_browser_safari .gfield_checkbox li input, .gform_wrapper.gf_browser_safari .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_safari .gfield_radio li input[type=radio] {
        margin-top: 0px !important;
    }
}

@media(max-width:767px) {
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text >p{
        margin-bottom: 0 ;
    }
}
@media(max-width:480px) {    
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
    }
    .location-top .fl-button{
        text-align: unset;
    }
    .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next{
        right: 20px;
    }
    .fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev{
        left: 20px;
    }
    .iPadFooter .fl-col-group{
        flex-direction: column;
    }
    .iPadFooter .fl-col-group .fl-col{
        flex: 2;
        width: 100% !important;
        text-align: center;
    }
    ul#menu-copyright-bar-menu{
        justify-content: center;
    }
}